/* Reseta alguns estilos padrão */
 
  @font-face{           
  src: url('Montserrat-Italic-VariableFont_wght.ttf') format('opentype'), url('Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-family: 'love1';}
   
    @font-face{           
  src: url('Montserrat-VariableFont_wght.ttf') format('opentype'), url('Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-family: 'love2';}

  @font-face{           
  src: url('CalSans-Regular.ttf') format('opentype'), url('CalSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-family: 'love3';}

* {
    max-width: 100%;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color:#191a24ef;
    overflow-x: hidden; /* evita rolagem lateral */
    margin-left: 5px;
    
}

header {
    font-family:love2;
    background: #cf111100;
    color: #ffffffee;
    position: fixed;
    
}
main {
    background-color:#00000000;
    
        
}
/* ====== CABEÇALHO E MENU ====== */
.top1 {
  display: flex;
  justify-content: space-between;
  align-items: center;  /* centraliza o texto e a imagem na vertical */
  gap: 40px;
}

.top1 div {
  flex: 1;  /* ocupa o espaço restante */
}

.imgtop {
  max-width: 350px;  /* aumenta o tamanho máximo da imagem */
  width: 100%;       /* ocupa 100% do espaço disponível */
  height: auto;      /* mantém proporção */
}
.top2{
  display: flex;
  justify-content: space-between;
  align-items: center;  /* centraliza o texto e a imagem na vertical */
  gap: 40px;

}
.top2 div{
  flex: 1;
  margin: auto;
  width: 1500px;
}
 

 

/* animação do X (já usava .open) */
.menu-toggle.open span:first-child {
  transform: translateY(10px) rotate(45deg);
}
.menu-toggle.open span:last-child {
  transform: translateY(-10px) rotate(-45deg);
} 


nav ul {
    list-style: none;
    gap: 3rem;
    transform: rotate(90deg);
    font-family:love2;
    color: #ffffffee;
    max-width:25px;
    display: flex;
    margin-left: -15px; 
    white-space:nowrap;  
}

nav ul li a {
    color:#e0e1e2;
    text-decoration: none;
    
    transition: color 0.3s;
}

nav ul li a:hover {
    color:#7BDEEF;
}


/* ====== CONTEÚDO ====== */


section {
    margin-bottom: 2rem;
}

h1, h2, h3 {
    margin-bottom: 2rem;
    font-size:clamp (1rem, 1vw, 1rem);
}


/* ====== RESPONSIVO ====== */
@media (min-width:750px) {
    .menu-button {
        display: none;
        flex-direction: column;
        background: #c51111;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        padding: 5rem;
    }
  }
@media (max-width: 750px) {
    .social a{
        display: none;
        flex-direction: column;
        background: #333;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        padding: 1rem;
    }
  
  }
  @media (max-width: 1200px) {
      .imgtop {
                display: none;
        flex-direction: column;
        background: #333;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        padding: 1rem;
      
      }
  
  }

    @media (max-width: 1200px) {
      .top2 img {
                display: none;
        flex-direction: column;
        background: #333;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        padding: 1rem;
      
      }
  
  }
    nav ul.active {
        display:flex;

    }

    .menu-toggle {
        display: block;
    }

  h1{
      margin: 40px;
      font: size 1vw;
     
    }
    h2{
      font-family:love3;
      margin: 30px;
      color:#fa8f14;
      font-size: clamp(20px,3vw,30px);     
  
 
    }
    h3{
      font-size: clamp(15px, 4vw, 30px);   
      margin: 40px;
      color:#ffffff;
      font-family:love1;
      text-align:auto;

    }
    h4{
      color: #ffffff;
      width: 800px;
      margin: auto;
    }

    p{
      margin: 25px;
      font-family: 'love3';
      font-size:clamp(18px,3vw, 25px);
      font-weight:100; 
   

      
    }
    li{
     
      width: 100%; 
      font-size: 18px;
      font-weight:10;  
      padding-top: 3%; 
    }
    #destaques{
      color:#7BDEEF;
    }
   


/* Conteúdo */
.content {
  opacity: 0;
  transition: opacity 1s ease;
  padding: 50px;
  z-index: 1;
  position: relative;
}

.content.active {
  opacity: 1;
}


/* Menu */
.nav-menu.show {
  display: block;
}

.side-menu {
  position: fixed;
  left: -6000px;
  transition: left 0.3s;
  z-index: 9999; 
  font-family: love3;
  background-color:#1b1b1be1;
  width: 400px;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.side-menu.active {
  left: 0;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  padding-top: 60px;
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

/* Animações AOS personalizadas se necessário */
.apareceu {
  opacity: 1;
  transform: translateY(0);
}

.menu-button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100;
  padding: 1px 10px;
  font-size: 18px;
  background-color: #4c7e9100;
  color: aliceblue;
  border-radius: 5px;
  z-index: 9999; 
}

.ico{
  text-align: center;
  background-color:#fa8f14;;
  font-family: love3;
  
}  
  .textos{
    color: #fafafa;
    font-family:love2;
    max-width:1500px;
    font-size:clamp(12px,2vw, 22px);
    
  }
  .p{
     font-family:love3;

  }
.nume{
  color: #e0e1e2;
  white-space:nowrap;

}
 .duvi{
    background-color: #242323dc;
    color: #e0e1e2;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 1px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: large;
    font-size: clamp(1rem, 2.5vw, 1.5rem);  
    text-decoration: none; 
    transition: color 0.3s;
    
  }
  .duvi:hover{
    background-color:#7BDEEF;
    color: #000000de;
  }
 .skill-desktop-only {
  display: none;
  }
  a:link,
  a:visited {
    color: inherit;
    text-decoration: none;
}


.sites {
  display: flex;
  justify-content: center; /* centraliza na horizontal */
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;         /* deixa quebrar de linha se não couber */
}

.sites img {
  max-width: 100%;   /* nunca passa da largura da tela */
  width: 700px;      /* tamanho desejado */
  height: auto;
}

/* Quando a tela for menor */
@media (max-width: 768px) {
  .sites {
    flex-direction: column; /* coloca uma embaixo da outra */
  }

  .sites img {
    width: 90%;   /* ocupa quase toda a largura da tela */
    max-width: 400px;
  }
}
.sites1 {
  display: flex;
  justify-content: center; /* centraliza na horizontal */
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;         /* deixa quebrar de linha se não couber */
}

.sites1 img {
  max-width: 100%;   /* nunca passa da largura da tela */
  width: 700px;      /* tamanho desejado */
  height: auto;
}

/* Quando a tela for menor */
@media (max-width: 768px) {
  .sites1 {
    flex-direction: column; /* coloca uma embaixo da outra */
  }

  .sites1 img {
    width: 90%;   /* ocupa quase toda a largura da tela */
    max-width: 400px;
  }
}

.img-proje1 {
  max-width: 300px;
  width: 100%;
  height: auto;
} 

/* Quando a tela for menor que 700px, some */
@media (max-width: 700px) {
  .img-proje1 {
    display: none;
  }
}
footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 20px;
  width: 100%;
}

    .skill {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    margin: 20px;   
  }
  .skill-name {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 255, 255);
    font-size: clamp(1rem, 2vw, 1rem);
  }
      .bar-container {
    width: 50%;
    background: #333;
    border: 2px solid rgb(105, 104, 104);
    height: 30px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    

    margin-top: 1px;
    height: 15px;

  }
  .bar-fill1 {
    height: 100%;
    background:#7BDEEF;
    width: 0%;
    transition: width 4s ease;
  }
  .bar-fill2 {
    height: 100%;
    background:#fa8f14;
    width: 0%;
    transition: width 4s ease;
  }
  .bar-fill3 {
    height: 100%;
    background:#6f9ff7;
    width: 0%;
    transition: width 4s ease;
  }
  .bar-fill4 {
    height: 100%;
    background:#fa8f14;
    width: 0%;
    transition: width 4s ease;
  }
  .bar-fill5 {
    height: 100%;
    background:#f57600dc;
    width: 0%;
    transition: width 4s ease;
  }
  .bar-fill6 {
    height: 100%;
    background:#fafafa;
    width: 0%;
    transition: width 4s ease;
  }
  h2.apareceu {
    opacity: 2;
    transform: translateX(0);
  }
  .bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    height: 40%;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-top: 3px ;
    font-size: clamp(1rem, 2vw, 1rem); 
    font-weight: 200;  

  
  }
  .duvi:hover{
    background-color:#0fcfff;
    color: #222222de;
  }
 .skill-desktop-only {
  display: none;
  }

   @media (min-width: 468px) {
  .skill-desktop-only {
    display: block;
   }
 }

 .lateral {
  position: fixed;
  top: 30%;
  right: 0;
  transform: translateY(-50%);
  writing-mode: vertical-rl; /* texto de cima para baixo */
  text-orientation: mixed;   /* mantém letras na posição normal */
  background: #22222200;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  font-family: Arial, sans-serif;
  border-radius: 0 10px 10px 0;
  z-index: 9999; /* garante que fica acima de tudo */
}

.social a{
 margin: 50px;
 font-family:love2;
}
.side-menu a{
  color: #ffffff;
  font-size: 30px;
  font-family: love2;
  padding: 20px;
  margin-bottom: 40px;
}

